aside{
	position: fixed;
	height: 100%;
	width: 30%;
	top: 0px;
	left: 0px;
	z-index: 9998;
	background-color: white;
	overflow: hidden;
}

aside div{
	width: 100%;
	height: 100%;
}

#hidrantes{
}

#total-content{
	padding-bottom: 30px;
	height: 180px;
	width: 100%;
	font-size: 70px;
	border-bottom: 1px solid black;
	display: flex;
	align-content: center;
	align-items: center;
	text-align: center;
	justify-content: flex-end;
	flex-direction: column;
}

#total-content p{
	width: 100%;
}

#total-content h1{
	font-size: 20px;
}

#stats{
	height: 100px;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}
	

#stats div{
	display: flex;
	width: 30% !important;
	height: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}

#stats div p{font-size: 20px;width: 100%;}
#stats div span{font-size: 15px;color: #555}




#grupos{
}